# Backups
*.json
*.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Other
\.idea/
*.swp

# ides
.idea/
.vscode/

# Compiled Staticfiles and mediafiles
CollectedStatic/
staticfiles/
CollectedMedia/

logs/
*.pyc
db.sqlite3
.env
.coverage
.sql
