appdirs==1.4.3
attrs==18.1.0
black==18.6b2
click==6.7
Django==2.0.6
django-environ==0.4.4
gunicorn==19.8.1
psycopg2-binary==2.7.4
pycodestyle==2.4.0
pyflakes==2.0.0
pytz==2018.4
six==1.11.0
toml==0.9.4
